MONGO_URL=mongodb://user2:password2@localhost:27017/parsershu?authSource=admin # mongodb://user:password@host:port/DATABASE_NAME?authSource=admin
COLLECTION=newspapers # collection name
BRAND_NAME_SLUG=lidl # как бренднеймслаг в парсерах config/brand.ts 
# BATCH_SIZE=10 # сколько документов обрабатывать за раз, чтобы не перегружать память. Если не указано, то обрабатывает все документы сразу. Удобно для отладки на небольшом количестве документов. Для больших коллекций рекомендуется указывать, например, 100 или 1000.
# DRY_RUN=true # если указано, то не сохраняет результаты в базу данных, а просто выводит их в консоль. Удобно для отладки, чтобы не засорять базу данных. Для реального запуска рекомендуется не указывать или указать false.
